.gpt3__brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #111111;
    margin-top: -65px;
}

.gpt3__brand div {
    flex: 1;
    max-width: 190px;
    min-width: 130px;
    margin: 0.1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}